html {
  font-family: Arial, Helvetica, sans-serif; 
  display: inline-block; 
  text-align: center;
}
h1 {
  font-size: 1.8rem; 
  color: white;
}
p { 
  font-size: 1.4rem;
  color:#1cc3ab
}
.topnav { 
  background-color: #0A1128;
  grid-area: titolo;
}
body {  
  margin: 0;
}
/*.content { 
    display: grid;
    background-color: #ffd65c; 
    height:100vh;
    align-content: center;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 6fr;
    grid-template-areas:
    "titolo titolo"
    "varie grafico"
    "varie cursori"
}  */


.content { 
    display: grid;
    background-color: #ffd65c; 
    height:100vh;
    align-content: center;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:  3fr 7fr;
    grid-template-areas:
    "varie grafico"
    "varie cursori"
}


.card { 
  position:relative; 
 background-image:url(wood2.png);
   background-color: #333;
  border-style:solid;
  border-color:brown;
  border-width: 0px;
  align-items: center;    
  
}



#varie {
	
	grid-area: varie;
	position:relative;
}


.grafico {
	
	grid-area: grafico;
	
}


.cursori {
	opacity:100;
	grid-area: cursori;
	width: 100%;
	height: 100%;
	/*background-size:100% 100%;
    background-image: url("cronotermostato_fondo.jpg"); */
}


.canvascrono {
	
	heigth:100%;
	width:100%;
    color: pink; 
/*    background-size:100% 100%;
    background-image: url("cronotermostato_fondo.jpg");  */

}

#orologio{
	position:relative;
	width: 30%;
	height: 70%;
	top:05%;
	left:67%;
	background-color:black;
	border-style:solid;
	border-color:#888888;
	padding:2px;
	border-radius:9px;
	font-size: 3vw;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;  
	
	color:yellow;
	text-align:center;

}

#orologiodata{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);	
}

#orologioora{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);	
}

#ledacceso{
	position:absolute;
	width: 10%;
	height: 15%;
	top:80%;
	left:55%;
	background-color:grey;
	border-style:solid;
	border-color:#888888;
	padding:2px;
	border-radius:9px;
	font-size: 1.5em;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;  
	
	color:yellow;
	text-align:center;

}


#quantotempo{
	position:absolute;
	width: 30%;
	height: 15%;
	top:80%;
	left:67%;
	background-color:#803000;
	border-style:solid;
	border-color:#888888;
	padding:2px;
	border-radius:9px;
	font-size: 1.5em;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;  
	
	color:yellow;
	text-align:center;

}

.boxmisure{
	position:absolute;
	width: 90%;
	height: 10%;
	left:2%;
	background-color:black;
	border-style:solid;
	border-color:#888888;
	padding:2px;
	border-radius:9px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;  
	font-size: 3.5vw; 
	white-space: nowrap;
}

#boxtemperatura{
    position: absolute;
    top: 3%;
 
}#boxumidita{
    position: absolute;
    top: 16%;
 
}

#valoretemperatura {
	color:red;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	

}

#valoreumidita {
	color:blue;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
}



#gaugetemp {
	position:absolute;
	left:0;
	
}

#gaugeRH {
	position:absolute;
	
	
}




#pulsantiera{
	border-style:solid;
	border-color:black;
	padding:2px;
	border-radius:9px;
	position:absolute;
	top:29.5%;
	left:2%;
	width:94%;
	height:69%;
	background-color:#444444;
	
}

.pulsantelegno{
	border-style:solid;
	border-color:#000000;
	padding:2px;
	border-radius:9px;
	
	font-size: 1.5vw;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;  
	
	color:#000000;
	text-align:center;
	position:absolute;

	cursor:pointer;
	
	
	background-color:#aaaaaa;
	
}




.bottoneinvia{
	
	height:10%;
	width:45%;
	left:52%;
	top:33%
}



.pday{
	position:relative;
	width:45%;
	height:7%;
	top:1%;
	left:2%;
	
	
}

.bottoneannulla{
	
	height:10%;
	width:45%;
	left:52%;
	top:51%
}



.scrittaleft{
	position:absolute;
	top:50%;
	left:0%;
	transform: translate(0%, -50%);	
}

.scritta{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);	
}



.pulsantelargo{
	position:relative;
	width:90%;
	height:25%;

	left:2%;
	top:6%;
	white-space:nowrap;
	font-size: 1.5vw;
	
}


#automan{
	position:absolute;
	width:100%;
	height:35%;
	top:65%;
	left:0%;
	background-color:#353535;
}

#manuale{
	width:80%;
}

.manualepiumeno{
	position:absolute;
	left:86%;
	width:6%;
	height:10%;
	
}

#manualepiu{
	top:7%;
	
}

#manualemeno{
	top:21%;
}

#automatico{
	
}

#onoff{
	position:absolute;
	top:70%;
}

#bottoni {
	font-size: 1vw;
	color:white;
	position:absolute;
	text-align:left;
	width:42%;
	height:30%;

	left:55%;
	top:1%;
}

#pulsantimezzora{
	position:absolute;
	top:2%;
	left:90%;
	text-align:left;
	
}

#programmi{
	
	
	padding:2px;
	position:absolute;
	top:1%;
	left:1%;
	width:35%;
	height:12%;
	white-space:nowrap;
	
}
.programma{
	border-style:solid;
	border-color:black;
	border-radius:9px;
	padding:2px;
	position:absolute;
	top:1%;
	left:1%;
	width:44%;
	height:20%;
	background-color:#aaaaaa;
	cursor: pointer;
}



#programma0{
	top:0%;
	left:0%;
}

#programma1{
	top:0%;
	left:50%;
}


#programma2{
	top:40%;
	left:0%;
}


#programma3{
	top:40%;
	left:50%;
}

#qualeprogramma{
	display:none;
	background-color:#00000080;
	
}


#comandoimpostazioni{
	height:7%;
	width:15%;
	left:70%;
	
}

.maschera{
	
	position:absolute;
	height:100%;
	width:100%;
	z-index:10000;
	
}
#qualeprogrammacontent{
	
	position:absolute;
	background-color:yellow;

	height:30%;
	width:40%;
	left:20%;
	
}

#qualeprogrammatesto{
	text-align:left;
	white-space:nowrap;
	position:absolute;
	width:50%;
	height:25%;
	top:0%;
	left:5%;
	
}

.selprogramma{
	white-space:nowrap;
	border-style:solid;
	border-color:black;
	border-radius:9px;
	padding:2px;
	position:absolute;
	
	left:60%;
	width:30%;
	height:15%;
	background-color:#aaaaaa;
	cursor: pointer;
}

#selprogramma0{
	top:5%;
	
}

#selprogramma1{
	top:25%;
	
}

#selprogramma2{
	top:45%;
	
}

#selprogramma3{
	top:65%;
	
}

#selprogrammaannulla{
	top:65%;
	left:5%;
	width:20%
}

#selprogrammasalva{
	top:65%;
	left:30%;
	width:20%
}

#impostazioni{
	display:none;
	background-color:#00000080;
	
}
#impostazionicontent{
	
	position:absolute;
	background-color:#aaaaaa;
	
	height:30%;
	width:100%;
	left:0%;
	
}

#labelfisso{
	position:absolute;
	top:0%;
	left:2%;
}

#labelsettimanale{
	position:absolute;
	top:0%;
	left:20%;
}

.programmasett{
	border-style:solid;
	border-color:black;
	border-radius:9px;
	padding:2px;
	position:relative;
	top:0%;
	left:20%;
	width:15%;
	height:8%;
	background-color:#cccccc;
	cursor: pointer;
	white-space: nowrap;
}

#selprogrammafisso{
	
	top:15%;
	left:2%;
	
}

#impostazionisalva{
	
	width:10%;
	height:15%;
	top:75%;
	left:85%;
}

#impostazioniannulla{
	
	width:10%;
	height:15%;
	top:75%;
	left:72%;
}


#nprogrammasel{
	display:none;
	background-color:#00000080;
	
}


.nprogrammacontent{
	
	position:absolute;
	background-color:#aaaaaa;

	height:30%;
	width:40%;
	left:40%;
	top:40%
	
}

#nprogrammatesto{
	text-align:left;
	white-space:nowrap;
	position:absolute;
	width:50%;
	height:25%;
	top:10%;
	left:5%;
	
}

.nprogrammasel{
	white-space:nowrap;
	border-style:solid;
	border-color:black;
	border-radius:9px;
	padding:2px;
	position:absolute;
	
	left:60%;
	width:30%;
	height:15%;
	background-color:#aaaaaa;
	cursor: pointer;
}


#nprogrammaselsalva{
	
	width:20%;
	height:15%;
	top:75%;
	left:28%;
}

#nprogrammaselannulla{
	
	width:20%;
	height:15%;
	top:75%;
	left:3%;
}



#nprogrammasel0{
	top:5%;
	
}

#nprogrammasel1{
	top:25%;
	
}

#nprogrammasel2{
	top:45%;
	
}

#nprogrammasel3{
	top:65%;
	
}

.solotesto{
	padding:5px;
	
	top:4%;
	left:20%;
	width:15%;
	height:8%;
	cursor:default;
	
	white-space: nowrap;
	text-align:left;
}

.valori{
	border-style:solid;
	border-color:black;
	padding:2px;
	position:relative;



	height:8%;
	background-color:black;;
	cursor:default;
	white-space: nowrap;
	color:white;
}


#correzionetemperatura {
	position:absolute;
	left:72%;
	width:6%;
	top:12%;
}

#correzionetemperaturavalore {
	position:absolute;
	left:80.5%;
	width:4%;
	top:12%;
}

#isteresitemperatura{
	position:absolute;
	left:72%;
	width:6%;
	top:32%;
}

#isteresitemperaturavalore {
	position:absolute;
	left:80.5%;
	width:4%;
	top:32%;
}

#correzionepiu{
	position:absolute;
	left:86%;
	width:3%;
	top:12%;
}

#correzionemeno{
	position:absolute;
	left:90%;
	width:3%;
	top:12%;
}

#isteresipiu{
	position:absolute;
	left:86%;
	width:3%;
	top:32%;
}

#isteresimeno{
	position:absolute;
	left:90%;
	width:3%;
	top:32%;
}

#labeleccezione{
	position:absolute;
	top:0%;
	left:40%;
	
}

#selprogrammaeccezione{
	position:absolute;
	top:15%;
	left:40%;
	
}

#nomebanco{
	position:absolute;
	top:25%;
	left:6%;
	font-size: 3vh;
	width:45%;
}


#selprogrammacambianome{
	position:absolute;
	top:41%;
	left:5%;
	width:45%;
	white-space:nowrap;
	
}

#testoinizioeccezione{
	position:absolute;
	top:30%;
	left:40%;

	
}

#datainizioeccezione{
	position:absolute;
	top:40%;
	left:40%;
	
}

#testofineeccezione{
	position:absolute;
	top:50%;
	left:40%;
	
}

#datafineeccezione{
	position:absolute;
	top:60%;
	left:40%;
	
}